{
  "name": "something...somthing",
  "address": "something...somthing",
  "city": "something...somthing",
  "email": "something...somthing",
  "mobile": "something...somthing",
  "emailConfig":{
    "username": "user,
    "password": "password"
  },
  "attachments":[{
      "path": "/home/user/attachment.pdf",
      "name": "attachment.pdf",
      "type": "application/pdf"
  }]
}
