doctype html
html(lang="en")
  head
    title= Bewerbung
    meta(charset="utf-8")
  body
    p.
      Sehr geehrte Damen und Herren,
    br
    p.
      Bitte entnehmen Sie dem Anhange meine Bewerbung für ihren Stellenanzeige "#{job.jobDescription}"
